{% include "header.html" %}
<div id='bnterprofile'>
</div>

<p class='welcome'>Use the following controls to customize your Bnter widget.  When you are done, pick up your code and get out.
</p>
<p class='welcome'>
*The colors will update live as you adjust, but the username, width, and # of conversations do not update in the preview
</p>

<table>
	<tr>
	<th><label for='username'>Username</label></th>
	<td><input class='bp_option' type='text' name='username' value='laurenleto'/></td>
	</tr>
	
	<tr>
	<th><label for='width'>Width (>=270, blank for auto width)</label></th>
	<td><input id='width' class='bp_option' type='text' name='width' value='270'/></td>
	</tr>
	
	<tr>
	<th><label for='count'>Number of conversations (0-10)</label></th>
	<td><input id='conversation_count' class='bp_option' type='text' name='count' value='3'/></td>
	</tr>
	
	<tr>
	<th><label for='shell_background'>Shell Background</label></th>
	<td><input class='bp_option color_chooser' type='text' name='shell_background' value='ede1e1'/>
		<div class='color_demo'></div>
	</td>
	</tr>

	<tr>
	<th><label for='shell_color'>Shell Color</label></th>
	<td><input class='bp_option color_chooser' type='text' name='shell_color' value='48ff05'/>
		<div class='color_demo'></div>
	</td>
	</tr>

	<tr>
	<th><label for='conversation_background'>Conversation Background</label></th>
	<td><input class='bp_option color_chooser' type='text' name='conversation_background' value='1a1717'/>
		<div class='color_demo'></div>
	</td>
	</tr>

	<tr>
	<th><label for='link_color'>Link Color</label></th>
	<td><input class='bp_option color_chooser' type='text' name='link_color' value='ff6a00'/>
		<div class='color_demo'></div>
	</td>
	</tr>

	<tr>
	<th><label for='message_right_color'>Right Message Color</label></th>
	<td><input class='bp_option color_chooser' type='text' name='message_right_color' value='000000'/>
		<div class='color_demo'></div>
	</td>
	</tr>

	<tr>
	<th><label for='message_left_color'>Left Message Color</label></th>
	<td><input class='bp_option color_chooser' type='text' name='message_left_color' value='000000'/>
		<div class='color_demo'></div>
	</td>
	</tr>
	
	<tr>
		<td class='submit_row' colspan='2'>
			<div id='submit'>Sweet! Gimme the code!</div>
		</td>
	</tr>

</table>

<textarea cols='100' rows='100' id='result_code'></textarea>

<div class='clear'></div>
{% include "footer.html" %}
