{% include "header.html" %}

<p>Excellent question, wayward traveller</p>

<p>Are you a visual learner?  It's like <a href="http://twitter.com/about/resources/widgets/widget_profile"> this</a>, but for <a href="http://bnter.com/">this</a>.
</p>

<p>Is your website missing something?  Do you need witty sidebar content? Let me help! Use the <a href='/'>tool</a> to generate a code snippet that will display the latest posts from your favorite Bnter user.  Set up the colors you like, the size and styles you prefer, click the generate button and you are ready to go! Just paste it onto your site and sit back as the traffic rolls in. Purchasing extra servers is strongly recommended before moving forward.</p>

<p>If you have suggestions, improvements, or bugs, please <a href="mailto:goggin13@gmail.com">Let me know!</a> Alternatively, don't bother me and reference the following paragraph :).</p>

<p>Do you hate this tool? Improve it! The source is on <a href="https://github.com/goggin13/bnterprofiler">GitHub</a>.  Please feel free to use the code in any manner you wish.  
</p>

{% include "footer.html" %}
